<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>CCTV MANAGER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel='stylesheet' href='/stylesheets/total.style.css' />
</head>
<body>
  <nav class="navbar is-link">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          CCTV MANAGER
      </a>
      <div class="navbar-burger burger" data-target="navMenuColorlink-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <span>'<%= session.USER_NAME %>'님</span>
            </p>
            <p class="control">
              <a class="button is-small" href="/info/show/">
                <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
                <span>
                  내 정보
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small" href="/api/auth/signout/">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>로그아웃</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="sidebar">
      <aside class="menu">
        <p class="menu-label">
          CCTV 관리
        </p>
        <ul class="menu-list">
          <li><a href="/cctv/monitor/" <% if (pageType == 0) { %>class="is-active"<% }%>>CCTV 모니터링</a></li>
          <li><a href="/cctv/edit/" <% if (pageType == 1) { %>class="is-active"<% }%>>CCTV 공간관리</a></li>
          <% if (session.USER_POSITION == 0) { %>
            <li><a href="/cctv/add/" <% if (pageType == 2) { %>class="is-active"<% }%>>CCTV 관리</a></li>
          <% } %>
        </ul>
        <p class="menu-label">
          파일 관리
        </p>
        <ul class="menu-list">
          <li><a href="/file/movie/" <% if (pageType == 3) { %>class="is-active"<% }%>>영상파일 관리</a></li>
          <li><a href="/file/log/" <% if (pageType == 4) { %>class="is-active"<% }%>>로그파일 관리</a></li>
        </ul>
        <% if (session.USER_POSITION == 0) { %>
          <p class="menu-label">
            유저 관리
          </p>
          <ul class="menu-list">
            <li><a href="/user/manage/" <% if (pageType == 5) { %>class="is-active"<% }%>>일반관리자 관리</a></li>
          </ul>
          <p class="menu-label">
            공간 관리
          </p>
          <ul class="menu-list">
            <li><a href="/takeSpace/manage/" <% if (pageType == 9) { %>class="is-active"<% }%>>촬영공간 관리</a></li>
            <li><a href="/path/manage/" <% if (pageType == 10) { %>class="is-active"<% }%>>경로 관리</a></li>
            <li><a href="/neighbor/manage/" <% if (pageType == 6) { %>class="is-active"<% }%>>이웃공간 관리</a></li>
            <li><a href="/sequence/manage/" <% if (pageType == 7) { %>class="is-active"<% }%>>시퀀스 관리</a></li>
          </ul>
        <% } %>
      </aside>
    </div>

    <div class="main-content content-full">
      <div class="content">
        <h3>◎ CCTV 관리 <button class="button is-small is-info is-optional-button" id="searchBtn" onclick="openSearchBox()">검색란 열기</button> <button class="button is-small is-info is-optional-button" onclick="openTargetModalBox('fileUploadModal')">CCTV 추가(CSV)</button> <button class="button is-small is-info is-optional-button" onclick="openModalBoxWithMap()">CCTV 추가</button></h3>
      </div>
      <div class="content is-size-7" id="searchBox">
        <div class="search-box">
          <div class="search-field">
            <div class="search-label">
              모델명
            </div>
            <div class="search-line">
              <div class="field">
                <div class="control">
                  <input class="input is-small" type="text" placeholder="모델명을 입력하세요." id="searchModel">
                </div>
              </div>
            </div>
          </div>
          <div class="search-field">
            <div class="search-label">
              설치날짜
            </div>
            <div class="search-line">
              <div class="field">
                <div class="control is-small">
                  <input class="input is-small" type="date" id="searchDate1">
                </div>
              </div>
              <p style="margin: 0px 10px; height: 24px;"> ~ </p>
              <div class="field">
                <div class="control is-small">
                  <input class="input is-small" type="date" id="searchDate2">
                </div>
              </div>
            </div>
          </div>
          <div class="search-field">
            <div class="search-label">
              관리자
            </div>
            <div class="search-line">
              <button class="button is-small is-fullwidth" id="admSelectBtn" onclick="openTargetModalBox('admModal')">관리자 선택</button>
              <input type="hidden" id="admSelectVal" />
            </div>
          </div>
          <button type="submit" class="button is-primary is-fullwidth is-small" onclick="searchCCTV()">검색</button>
        </div>
      </div>
      <div class="content">
        <table class="table is-bordered is-striped is-narrow is-fullwidth is-size-7">
          <thead>
            <tr>
              <th>모델명</th>
              <th>설치날짜</th>
              <th>관리자</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody id="dataTable">
            <% for (var i = 0; i < data.cctvList.length; i++) {%>
            <tr>
              <td width="20%"><%= data.cctvList[i].v_MODEL %></td>
              <td width="20%"><%= data.cctvList[i].dt_INSTALL_DATE.toISOString().slice(0, 10) %></td>
              <td width="50%"><%= data.cctvList[i].admins %></td>
              <td width="10%"><button class="button is-small" onclick="deleteCCTV(<%= data.cctvList[i].n_CCTV_ID %>)">삭제</button></td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal" id="admModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">검색 : 관리자 선택</p>
        <button class="delete" aria-label="close" onclick="hideTargetModalBox('admModal')"></button>
      </header>
      <section class="modal-card-body">
        <% for (var i = 0; i < data.userList.length; i++) { %>
        <button class="button is-small select-button" onclick="selectBtn(this)" id="admBtn<%= data.userList[i].n_ADMIN_ID %>"><%= data.userList[i].v_NAME %></button>
        <% } %>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary is-fullwidth" onclick="saveOptions('adm')">완료</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="modalBox">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">CCTV 추가</p>
        <button class="delete" aria-label="close" onclick="hideModalBox()"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="search-box">

            <div class="search-field">
              <div class="search-label">
                모델명
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="text" placeholder="모델명을 입력하세요." id="addModel">
                  </div>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                위치
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control" id="cctvAddMap" style="min-height: 300px;">
                  </div>
                </div>
                <input type="hidden" name="cctvLng" />
                <input type="hidden" name="cctvLat" />
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                설치날짜
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control is-small">
                    <input class="input is-small" type="date" id="addDate">
                  </div>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                관리자
              </div>
              <div class="search-line">
                <div class="select is-small is-multiple is-fullwidth">
                  <select multiple id="addAdm">
                    <% for (var i = 0; i < data.userList.length; i++) { %>
                      <option value="<%= data.userList[i].n_ADMIN_ID %>"><%= data.userList[i].v_NAME %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                촬영공간
              </div>
              <div class="search-line">
                <div class="select is-small is-multiple is-fullwidth">
                  <select multiple id="addTP">
                    <% for (var i = 0; i < data.tpList.length; i++) { %>
                      <option value="<%= data.tpList[i].n_TAKE_SPACE_ID %>"><%= data.tpList[i].v_ADDRESS + ", " + data.tpList[i].v_BUILDING + ", " + data.tpList[i].v_FLOOR + ", " + data.tpList[i].v_SITE %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
      <button type="submit" class="button is-primary is-fullwidth" onclick="addCCTV()">추가</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="fileUploadModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-upwall">업로드중...</div>
      <header class="modal-card-head">
        <p class="modal-card-title">CCTV 추가(CSV) 업로드</p>
        <button class="delete" aria-label="close" onclick="hideTargetModalBox('fileUploadModal')"></button>
      </header>
      <form class="modal-card-body" enctype="multipart/form-data" id="uploadForm" action="/api/cctv/addCSV" method="post">
        <div class="field">
          <label class="label is-small">파일</label>
          <div class="file has-name is-small is-fullwidth">
            <label class="file-label">
              <input class="file-input" type="file" name="uploadedFile" id="fileInput" onchange="insertFileName()">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  파일선택
                </span>
              </span>
              <span class="file-name" id="fileNameLabel">

              </span>
            </label>
          </div>
        </div>

      </form>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary is-fullwidth" onclick="uploadCCTVFile()">완료</button>
      </footer>
    </div>
  </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/javascripts/main.bundle.js"></script>
<script src="/javascripts/myScripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmBwHX4GyyS7PxSu4jBwTLM2uelcCVdb8&callback=initAddCCTVMap"
    async defer></script>
</html>
