<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>CCTV MANAGER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel='stylesheet' href='/stylesheets/total.style.css' />
</head>
<body>
  <nav class="navbar is-link">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          CCTV MANAGER
      </a>
      <div class="navbar-burger burger" data-target="navMenuColorlink-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <span>'<%= session.USER_NAME %>'님</span>
            </p>
            <p class="control">
              <a class="button is-small" href="/info/show/">
                <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
                <span>
                  내 정보 
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small" href="/api/auth/signout/">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>로그아웃</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="sidebar">
      <aside class="menu">
        <p class="menu-label">
          CCTV 관리
        </p>
        <ul class="menu-list">
          <li><a href="/cctv/monitor/" <% if (pageType == 0) { %>class="is-active"<% }%>>CCTV 모니터링</a></li>
          <li><a href="/cctv/edit/" <% if (pageType == 1) { %>class="is-active"<% }%>>CCTV 공간관리</a></li>
          <% if (session.USER_POSITION == 0) { %>
            <li><a href="/cctv/add/" <% if (pageType == 2) { %>class="is-active"<% }%>>CCTV 관리</a></li>
          <% } %>
        </ul>
        <p class="menu-label">
          파일 관리
        </p>
        <ul class="menu-list">
          <li><a href="/file/movie/" <% if (pageType == 3) { %>class="is-active"<% }%>>영상파일 관리</a></li>
          <li><a href="/file/log/" <% if (pageType == 4) { %>class="is-active"<% }%>>로그파일 관리</a></li>
        </ul>
        <% if (session.USER_POSITION == 0) { %>
          <p class="menu-label">
            유저 관리
          </p>
          <ul class="menu-list">
            <li><a href="/user/manage/" <% if (pageType == 5) { %>class="is-active"<% }%>>일반관리자 관리</a></li>
          </ul>
          <p class="menu-label">
            공간 관리
          </p>
          <ul class="menu-list">
            <li><a href="/takeSpace/manage/" <% if (pageType == 9) { %>class="is-active"<% }%>>촬영공간 관리</a></li>
            <li><a href="/path/manage/" <% if (pageType == 10) { %>class="is-active"<% }%>>경로 관리</a></li>
            <li><a href="/neighbor/manage/" <% if (pageType == 6) { %>class="is-active"<% }%>>이웃공간 관리</a></li>
            <li><a href="/sequence/manage/" <% if (pageType == 7) { %>class="is-active"<% }%>>시퀀스 관리</a></li>
          </ul>
        <% } %>
      </aside>
    </div>

    <div class="main-content content-full">
      <div class="content">
        <h2>내 정보</h2>
      </div>
      <table class="table">
        <tbody>

         <tr><th>아이디</th><td><%= user_data[0].v_LOGIN_ID %></td></tr>
         <tr><th>이름</th><td><%= user_data[0].v_NAME %></td></tr> 
         <tr><th>전화번호</th><td><%= user_data[0].v_PHONE_NUMBER %></td></tr>

        </tbody>
      </table>
      <a class="button is-link" onclick="openTargetModalBox('checkPWModal')">수정하기</a>

      <div class="modal" id="checkPWModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">비밀번호를 입력하세요.</p>
            <button class="delete" aria-label="close" onclick="hideTargetModalBox('checkPWModal')"></button>
          </header>
          <section class="modal-card-body">
            <label class="sr-only" for="form-password">Password</label>
            <input class="input" type="password" name="checkPw" placeholder="Password" class="form-password form-control" id="checkPw">
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary is-fullwidth" onclick="checkPw(<%= session.USER_INDEX %>)">확인</button>
          </footer>
        </div>
      </div>
    </div>
  </div>

</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/javascripts/myScripts.js"></script>
</html>
