<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>CCTV MANAGER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/total.style.css' />
</head>
<body>
  <nav class="navbar is-link">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          CCTV MANAGER
      </a>
      <div class="navbar-burger burger" data-target="navMenuColorlink-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <span>'<%= session.USER_NAME %>'님</span>
            </p>
            <p class="control">
              <a class="button is-small" href="/info/show/">
                <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
                <span>
                  내 정보
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small" href="/api/auth/signout/">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>로그아웃</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="sidebar">
      <aside class="menu">
        <p class="menu-label">
          CCTV 관리
        </p>
        <ul class="menu-list">
          <li><a href="/cctv/monitor/" <% if (pageType == 0) { %>class="is-active"<% }%>>CCTV 모니터링</a></li>
          <li><a href="/cctv/edit/" <% if (pageType == 1) { %>class="is-active"<% }%>>CCTV 공간관리</a></li>
          <% if (session.USER_POSITION == 0) { %>
            <li><a href="/cctv/add/" <% if (pageType == 2) { %>class="is-active"<% }%>>CCTV 관리</a></li>
          <% } %>
        </ul>
        <p class="menu-label">
          파일 관리
        </p>
        <ul class="menu-list">
          <li><a href="/file/movie/" <% if (pageType == 3) { %>class="is-active"<% }%>>영상파일 관리</a></li>
          <li><a href="/file/log/" <% if (pageType == 4) { %>class="is-active"<% }%>>로그파일 관리</a></li>
        </ul>
        <% if (session.USER_POSITION == 0) { %>
          <p class="menu-label">
            유저 관리
          </p>
          <ul class="menu-list">
            <li><a href="/user/manage/" <% if (pageType == 5) { %>class="is-active"<% }%>>일반관리자 관리</a></li>
          </ul>
          <p class="menu-label">
            공간 관리
          </p>
          <ul class="menu-list">
            <li><a href="/takeSpace/manage/" <% if (pageType == 9) { %>class="is-active"<% }%>>촬영공간 관리</a></li>
            <li><a href="/path/manage/" <% if (pageType == 10) { %>class="is-active"<% }%>>경로 관리</a></li>
            <li><a href="/neighbor/manage/" <% if (pageType == 6) { %>class="is-active"<% }%>>이웃공간 관리</a></li>
            <li><a href="/sequence/manage/" <% if (pageType == 7) { %>class="is-active"<% }%>>시퀀스 관리</a></li>
          </ul>
        <% } %>
      </aside>
    </div>


    <div class="main-content content-full">
      <div class="content">
        <h3>◎ 시퀀스 관리  <button class="button is-small is-info is-optional-button" id="searchBtn" onclick="openSearchBox()">검색란 열기</button> <button class="button is-small is-info is-optional-button" onclick="openModalBoxWithMapType('sequence')">시퀀스 추가</button></h3>
      </div>


      <input type="hidden" id="data-seqList" value="<%= JSON.stringify(data.seqList) %>">
      <input type="hidden" id="data-npList" value="<%= JSON.stringify(data.npList) %>">

      <div class="content is-size-7" id="searchBox">
        <div class="search-box">
          <div class="search-field">
            <div class="search-label">
              이름
            </div>
            <div class="search-line">
              <div class="field">
                <div class="control">
                  <input class="input is-small" type="text" placeholder="파일이름" id="nameCond">
                </div>
              </div>
            </div>
          </div>
          <div class="search-field">
            <div class="search-label">
              이웃공간
            </div>
            <div class="search-line">
              <button class="button is-small is-fullwidth" id="nbSelectBtn" onclick="openTargetModalBox('nbModal')">포함된 이웃공간 선택</button>
              <input type="hidden" id="nbSelectVal" />
            </div>
          </div>
          <button class="button is-primary is-fullwidth" onclick="searchSEQ()">검색</button>
        </div>
      </div>
      <div class="content">
        <div class="half-content">
          <div id="seqMap">
          </div>
        </div>
        <div class="half-content">
          <table class="table is-bordered is-striped is-narrow is-fullwidth change-list is-size-7">
            <thead>
              <tr>
                <th>이름</th>
                <th>이웃공간들</th>
                <th>수정</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody id="dataTable">
              <% for (var i = 0; i < data.seqList.length; i++) {%>
              <tr class="hover-pointer" onclick="drawSEQOnMap(<%= data.seqList[i].n_SEQ_ID %>, this)">
                <td><%= data.seqList[i].v_SEQ_NAME %></td>
                <td><%= data.seqList[i].NP_NAMES %></td>
                <td><button class="button is-small" onclick="openModalBoxWithMapType('sequence-edit'); initFixModal(<%= data.seqList[i].n_SEQ_ID %>,'<%= data.seqList[i].NP_IDS %>')" >수정</button></td>
                <td><button class="button is-small" onclick="deleteSequence(<%= data.seqList[i].n_SEQ_ID %>)">삭제</button></td>
              </tr>
              <%}%>
            </tbody>
          </table>

          <% for (var i = 0; i < data.seqList.length; i++) {%>
          <input type="hidden" value="{<%= data.seqList[i].TP1_LOCATIONS %>}" name="seqTP1<%= data.seqList[i].n_SEQ_ID %>" />
          <input type="hidden" value="{<%= data.seqList[i].TP2_LOCATIONS %>}" name="seqTP2<%= data.seqList[i].n_SEQ_ID %>" />
          <input type="hidden" value="{<%= data.seqList[i].PATH_LOCATIONS %>}" name="seqPATH<%= data.seqList[i].n_SEQ_ID %>" />
          <% } %>
        </div>
      </div>
    </div>

  </div>

  <div class="modal" id="modalBox">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" id="modalTitle">시퀀스 추가</p>
        <button class="delete" aria-label="close" onclick="hideModalBox();initModalBox('<%= JSON.stringify(data.npList) %>')"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="search-box">
            <div class="search-field">
              <div class="label is-size-6">
                이름
              </div>
              <div class="field">
                <div class="control">
                  <input id = "seqName" class="input is-small" type="text" placeholder="시퀀스 이름을 입력해주세요.">
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="label">
                지도
              </div>
              <div class="field">
                <div class="control" id="seqAddMap" style="min-height: 300px;">
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class = "label is-size-6">
                추가할 이웃공간 목록
              </div>
              <div>
                <input type="hidden" id = "addedNPListNum" value = '0'>
                <table id="addedNPList">

                </table>
              </div>
            </div>
            <div class="search-field">
              <div class="select is-small" style = "width : 90%">
                <select id="addableNPList" style = "width : 100%">
                  <% for (var i = 0; i < data.npList.length; i++) {%>
                  <option value = "<%= JSON.stringify(data.npList[i]) %>"> <%= data.npList[i].v_NEIGHBOR_NAME %> : <%= data.npList[i].tp1_building %> <%= data.npList[i].tp1_floor %> <%= data.npList[i].tp1_site %> ~ <%= data.npList[i].tp2_building %> <%= data.npList[i].tp2_floor %> <%= data.npList[i].tp2_site %> </option>
                  <% } %>
                </select>
              </div>
              <button class="button is-small" onclick="appendAddableSEQList()">추가</button>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
      <button type="submit" class="button is-primary is-fullwidth" onclick="addSequence()">추가하기</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="fixSeqModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" id="targetSeqName">수정하기</p>
        <button class="delete" aria-label="close" onclick="hideTargetModalBox('fixSeqModal')"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="search-box">
            <div class="search-field">
              <div class="label is-size-6">
                이름
              </div>
              <div>
                <div class="field">
                  <div class="control">
                    <input id = "seqName_fix" class="input is-small" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class = "label is-size-6">
                이웃공간 목록
              </div>
              <div>
                <input type="hidden" id = "existNPListNum" >
                <table id = "existNPList">

                </table>
              </div>
            </div>
            <div class="search-field">
              <div>
                <div class="select is-small" style = "width : 90%">
                  <select id="addableNPList_fix" style = "width : 100%">

                  </select>
                </div>
                <button class="button is-small" onclick="addNeighborSpace('fix')">추가</button>
              </div>
            </div>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
      <input type="hidden" id="seqId">
      <button type="submit" class="button is-primary is-fullwidth" onclick="updateSequence()">수정하기</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="nbModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">검색 : 이웃공간 선택</p>
        <button class="delete" aria-label="close" onclick="hideTargetModalBox('nbModal')"></button>
      </header>
      <section class="modal-card-body">
        <% for (var i = 0; i < data.npList.length; i++) { %>
        <button class="button is-small select-button" onclick="selectBtn(this)" id="nbBtn<%= data.npList[i].n_NEIGHBOR_ID %>"><%= data.npList[i].tp1_address.replace('대한민국', '') %> <%= data.npList[i].tp1_building%> <%= data.npList[i].tp1_floor%> <%= data.npList[i].tp1_site%> ~ <%= data.npList[i].tp2_address.replace('대한민국', '')%> <%= data.npList[i].tp2_building%> <%= data.npList[i].tp2_floor%> <%= data.npList[i].tp2_site%></button>
        <% } %>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary is-fullwidth" onclick="saveOptions('nb')">완료</button>
      </footer>
    </div>
  </div>
  <input type="hidden" name="tp1Val" />
  <input type="hidden" name="tp2Val" />
  <input type="hidden" name="addedNPs" />
  <input type="hidden" name="isEdit" />
  <input type="hidden" name="editTarget" />
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/javascripts/myScripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmBwHX4GyyS7PxSu4jBwTLM2uelcCVdb8&callback=initSEQMap"
    async defer></script>
</html>
