<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>CCTV MANAGER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/total.style.css' />
</head>
<body>
  <nav class="navbar is-link">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          CCTV MANAGER
      </a>
      <div class="navbar-burger burger" data-target="navMenuColorlink-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <span>'<%= session.USER_NAME %>'님</span>
            </p>
            <p class="control">
              <a class="button is-small" href="/info/show/">
                <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
                <span>
                  내 정보
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small" href="/api/auth/signout/">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>로그아웃</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="sidebar">
      <aside class="menu">
        <p class="menu-label">
          CCTV 관리
        </p>
        <ul class="menu-list">
          <li><a href="/cctv/monitor/" <% if (pageType == 0) { %>class="is-active"<% }%>>CCTV 모니터링</a></li>
          <li><a href="/cctv/edit/" <% if (pageType == 1) { %>class="is-active"<% }%>>CCTV 공간관리</a></li>
          <% if (session.USER_POSITION == 0) { %>
            <li><a href="/cctv/add/" <% if (pageType == 2) { %>class="is-active"<% }%>>CCTV 관리</a></li>
          <% } %>
        </ul>
        <p class="menu-label">
          파일 관리
        </p>
        <ul class="menu-list">
          <li><a href="/file/movie/" <% if (pageType == 3) { %>class="is-active"<% }%>>영상파일 관리</a></li>
          <li><a href="/file/log/" <% if (pageType == 4) { %>class="is-active"<% }%>>로그파일 관리</a></li>
        </ul>
        <% if (session.USER_POSITION == 0) { %>
          <p class="menu-label">
            유저 관리
          </p>
          <ul class="menu-list">
            <li><a href="/user/manage/" <% if (pageType == 5) { %>class="is-active"<% }%>>일반관리자 관리</a></li>
          </ul>
          <p class="menu-label">
            공간 관리
          </p>
          <ul class="menu-list">
            <li><a href="/takeSpace/manage/" <% if (pageType == 9) { %>class="is-active"<% }%>>촬영공간 관리</a></li>
            <li><a href="/path/manage/" <% if (pageType == 10) { %>class="is-active"<% }%>>경로 관리</a></li>
            <li><a href="/neighbor/manage/" <% if (pageType == 6) { %>class="is-active"<% }%>>이웃공간 관리</a></li>
            <li><a href="/sequence/manage/" <% if (pageType == 7) { %>class="is-active"<% }%>>시퀀스 관리</a></li>
          </ul>
        <% } %>
      </aside>
    </div>


    <div class="main-content content-full">
      <div class="content">
        <h3>◎ 일반관리자 관리  <button class="button is-small is-info is-optional-button" id="searchBtn" onclick="openSearchBox()">검색란 열기</button> <button class="button is-small is-info is-optional-button" onclick="openModalBox()">일반관리자 추가</button></h3>
      </div>

      <div class="content is-size-7" id="searchBox">
        <div class="search-box">

          <div class="search-field">
            <div class="search-label">
              아이디
            </div>
            <div class="search-line">
              <div class="field">
                <div class="control">
                  <input class="input is-small" type="text" placeholder="아이디" id="idCond">
                </div>
              </div>
            </div>
          </div>
          <div class="search-field">
            <div class="search-label">
              이름
            </div>
            <div class="search-line">
              <div class="field">
                <div class="control">
                  <input class="input is-small" type="text" placeholder="이름" id="nameCond">
                </div>
              </div>
            </div>
          </div>
          <div class="search-field">
            <div class="search-label">
              CCTV
            </div>
            <div class="search-line">
              <button class="button is-small is-fullwidth" id="cctvSelectBtn" onclick="openTargetModalBox('cctvModal')">CCTV 선택</button>
              <input type="hidden" id="cctvSelectVal" />
            </div>
          </div>
          <div class="search-field">
            <div class="search-label">
              가입날짜
            </div>
            <div class="search-line">
              <div class="field">
                <div class="control is-small">
                  <input class="input is-small" type="date" id="joinCond1">
                </div>
              </div>
              <p style="margin: 0px 10px; height: 24px;"> ~ </p>
              <div class="field">
                <div class="control is-small">
                  <input class="input is-small" type="date" id="joinCond2">
                </div>
              </div>
            </div>
          </div>
          <div class="search-field">
            <div class="search-label">
              최근접속
            </div>
            <div class="search-line">
              <div class="field">
                <div class="control is-small">
                  <input class="input is-small" type="date" id="recentCond1">
                </div>
              </div>
              <p style="margin: 0px 10px; height: 24px;"> ~ </p>
              <div class="field">
                <div class="control is-small">
                  <input class="input is-small" type="date" id="recentCond2">
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="button is-primary is-fullwidth is-small" onclick="searchUser()">검색</button>
        </div>
      </div>
      <div class="content">
        <table class="table is-bordered is-striped is-narrow is-fullwidth change-list is-size-7">
          <thead>
            <tr>
              <th>아이디</th>
              <th>비밀번호</th>
              <th>이름</th>
              <th>가입날짜</th>
              <th>최근접속</th>
              <th>CCTV</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody id="dataTable">
            <% for (var i = 0; i < data.userList.length; i++) {%>
            <tr>
              <td width="20%"><%= data.userList[i].v_LOGIN_ID %></td>
              <td width="10%"><button class="button is-small" onclick="openChangeModal(<%= data.userList[i].n_ADMIN_ID %>, '<%= data.userList[i].v_LOGIN_ID %>')">변경</button></td>
              <td width="10%"><%= data.userList[i].v_NAME %></td>
              <td width="20%"><%= data.userList[i].dt_CREATE_DATE.toISOString().slice(0, 10) %></td>
              <td width="20%"><%= data.userList[i].dt_RECENT_LOGIN.toISOString().slice(0, 10) %></td>
              <td width="10%"><button class="button is-small" onclick="openAdmCCTVM(<%= data.userList[i].n_ADMIN_ID %>, '<%= data.userList[i].cctvs %>')">관리</button></td>
              <td width="10%"><button class="button is-small" onclick="deleteUser(<%= data.userList[i].n_ADMIN_ID %>, '<%= data.userList[i].v_SALT %>')">삭제</button></td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="modal" id="modalBox">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">일반관리자 추가</p>
        <button class="delete" aria-label="close" onclick="hideModalBox()"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="search-box">

            <div class="search-field">
              <div class="search-label">
                아이디
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="text" id="login_id" placeholder="아이디를 입력하세요.">
                  </div>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                비밀번호
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="password" id="login_pwd" placeholder="비밀번호를 입력하세요.">
                  </div>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                이름
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="text" id="login_name" placeholder="이름을 입력하세요.">
                  </div>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                전화번호
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="number" id="login_phone1" placeholder="">
                  </div>
                </div>
                <span style="margin: 0px 12px;">-</span>
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="number" id="login_phone2" placeholder="">
                  </div>
                </div>
                <span style="margin: 0px 12px;">-</span>
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="number" id="login_phone3" placeholder="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary is-fullwidth" onclick="signup()">추가</button>
      </footer>
    </div>
  </div>



  <div class="modal" id="cctvModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">검색 : CCTV 선택</p>
        <button class="delete" aria-label="close" onclick="hideTargetModalBox('cctvModal')"></button>
      </header>
      <section class="modal-card-body">
        <% for (var i = 0; i < data.cctvList.length; i++) { %>
        <button class="button is-small select-button" onclick="selectBtn(this)" id="cctvBtn<%= data.cctvList[i].n_CCTV_ID %>">CCTV[<%= data.cctvList[i].v_MODEL %>][<%= data.cctvList[i].n_CCTV_ID %>]</button>
        <% } %>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary is-fullwidth" onclick="saveOptions('cctv')">완료</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="pwModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" id="pwChTitle">비밀번호 번경</p>
        <button class="delete" aria-label="close" onclick="hideTargetModalBox('pwModal')"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="search-box">
            <div class="search-field">
              <div class="search-label">
                비밀번호
              </div>
              <div class="search-line">
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="password" id="login_pwd_ch" placeholder="비밀번호를 입력하세요.">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary is-fullwidth" id="pwChBtn" onclick="changePw()">완료</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="admCCTVModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" id="admCCTVTitle">일반관리자 CCTV 권한 변경</p>
        <button class="delete" aria-label="close" onclick="hideTargetModalBox('admCCTVModal')"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="search-box">
            <div class="search-field">
              <div class="search-label">
                삭제
              </div>
              <div class="search-line">
                <div class="select is-small is-multiple is-fullwidth">
                  <select multiple id="deleteCCTVList">

                  </select>
                </div>
              </div>
            </div>
            <div class="search-field">
              <div class="search-label">
                추가
              </div>
              <div class="search-line">
                <div class="select is-small is-multiple is-fullwidth">
                  <select multiple id="addCCTVList">

                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary is-fullwidth" id="admCCTVBtn" onclick="changeCCTV()">완료</button>
      </footer>
    </div>
  </div>

</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/javascripts/myScripts.js"></script>
</html>
